:root {
  --main-font: "Myriad Pro", sans-serif;
  --fluid-spacer: 0.052vw;
  --base-size: calc(16 * var(--fluid-spacer));
  --container-size: 103.125rem;
  --container-padding: 1rem;
  --title-size-base: 2rem;
  --title-size-big: 4rem;
  --text-size-tiny: .875rem;
  --text-size-small: 1rem;
  --text-size-base: 1.125rem;
  --text-size-middle: 1.375rem;
  --text-size-big: 1.5rem;
  --color-dark: #1C2125;
  --color-white: #fff;
  --color-grey: #42474B;
  --color-accent: #F58220;
  --color-green: #2BCF35;
  --color-light: #F3F3F3;
  --header-height: 0rem;
  --base-border-radius: 1.625rem;
  --small-border-radius: 1.25rem;
  --scrollbar-size: 6px;
}

@media screen and (max-width: 767px) {
  :root {
    --fluid-spacer: 0.27vw;
    --scrollbar-size: 4px;
    --title-size-base: 1.875rem;
    --title-size-big: 2rem;
    --text-size-middle: 1.25rem;
    --base-border-radius: .625rem;
    --small-border-radius: .625rem;
  }
}
html {
  font-size: var(--base-size);
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  background-color: #0E0E0F;
  color: #fff;
  font-size: 1rem;
}

body.no-scroll {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

.page-wrapper {
  font-size: var(--text-size-base);
  line-height: 1.4;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  max-width: 100%;
  text-align: center;
}
.button--text {
  font-size: 1rem;
  line-height: 1.4;
  text-transform: uppercase;
  gap: 1.25rem;
  --icon-size: .875rem;
}
.button--base {
  height: 3.125rem;
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: var(--text-size-base);
  font-weight: 600;
  border-radius: 0.625rem;
  --icon-size: 1.625rem;
  min-width: 12.5rem;
}
@media screen and (max-width: 767px) {
  .button--base {
    min-width: 11.625rem;
  }
}
.button--dark {
  color: rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.08);
}
.button--accent {
  color: #fff;
  backdrop-filter: blur(20px);
  background: var(--color-accent);
}
.button--text .button__text {
  opacity: 0.75;
}
.button--center {
  margin: 0 auto;
}
.button--full {
  width: 100%;
}
.button__icon {
  flex-shrink: 0;
  width: var(--icon-size);
  height: var(--icon-size);
}
.button__icon--right {
  margin-left: auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container {
  max-width: calc(var(--container-size) + 2 * var(--container-padding));
  width: 100%;
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.title--base {
  font-size: var(--title-size-base);
  line-height: 1.2;
  font-weight: 600;
}
.title--big {
  font-size: var(--title-size-big);
  line-height: 1.2;
}
.title--accent {
  color: var(--color-accent);
}
.title--opacity {
  opacity: 0.75;
}
.title--opacity--big {
  opacity: 0.6;
}
.title--center {
  text-align: center;
}

.text--tiny {
  font-size: var(--text-size-tiny);
  font-weight: 400;
  line-height: 1.4;
}
.text--small {
  font-size: var(--text-size-small);
  font-weight: 400;
  line-height: 1.4;
}
.text--base {
  font-size: var(--text-size-base);
  font-weight: 400;
  line-height: 1.4;
}
.text--middle {
  font-size: var(--text-size-middle);
  font-weight: 400;
  line-height: 1.2;
}
.text--big {
  font-size: var(--text-size-big);
  font-weight: 400;
  line-height: 1.2;
}
.text--opacity {
  opacity: 0.75;
}
.text--opacity--big {
  opacity: 0.6;
}
.text--grey {
  color: #878787;
}
.text--grey--light {
  color: #c8c9c9;
}
.text--grey--dark {
  color: #9b9b9b;
}
.text--grey--semidark {
  color: #C8C9C9;
}
.text--grey--lighter {
  color: #afafaf;
}
.text--grey--second {
  color: #a7a6a9;
}
.text--semibold {
  font-weight: 600;
}
.text--bold {
  font-weight: 700;
}
.text--underline {
  text-decoration: underline;
}

.content__wrapper {
  padding: 2.8125rem 0;
}
@media screen and (max-width: 767px) {
  .content__wrapper {
    padding: 1rem 0;
  }
}

.section:has(.swiper) {
  overflow: hidden;
}
.section__wrapper {
  padding: 2.8125rem 0;
}
@media screen and (max-width: 767px) {
  .section__wrapper {
    padding: 1rem 0;
  }
}
.section__header:not(:last-child) {
  margin-bottom: 3.75rem;
}
@media screen and (max-width: 767px) {
  .section__header:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

.block__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.625rem;
  height: 100%;
  grid-auto-rows: 100svh;
}
.block__grid--auto {
  grid-auto-rows: auto;
  min-height: 100svh;
}
@media screen and (max-width: 767px) {
  .block__grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 2rem;
  }
  .block__grid--login {
    gap: 0;
    min-height: auto;
  }
}
.block__tag {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  width: max-content;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .block__tag {
    font-size: 1.375rem;
    padding: 0.875rem 1rem;
  }
}
.block-img {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: var(--base-border-radius);
  -webkit-user-select: none;
  user-select: none;
}
@media screen and (max-width: 767px) {
  .block-img {
    grid-row-start: 1;
  }
}
.block-img--full {
  grid-column: 1/-1;
}
.block-img__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-img__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.block-img__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.block-img__wrapper {
  position: relative;
  z-index: 2;
  padding: 1.875rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .block-img__wrapper {
    padding: 0.625rem;
  }
}
.block-img__content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.875rem;
  border-radius: 0.625rem;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  background: rgba(25, 25, 25, 0.5);
}
.block-item__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.block-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.block-slider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.block-slider__nav {
  position: absolute;
  z-index: 3;
  right: 1.875rem;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .block-slider__nav {
    right: 0.625rem;
  }
}
@media screen and (min-width: 768px) {
  .block-slider__nav--left {
    left: 1.875rem;
    right: unset;
  }
}
.block-slider__bullet {
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
}
.block-slider__bullet--active {
  border-color: #fff;
}
.block-slider__bullet::before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #fff;
}
.block-slider__button {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.block-slider__button .icon {
  width: 100%;
  height: 100%;
}
.block-slider__button--prev {
  transform: rotate(180deg);
}
.block-slider__pagination {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.block-slider__item {
  z-index: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.block-slider__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.block-content {
  background: #111214;
  padding: 2.5rem 1.875rem 6.25rem 1.875rem;
  border-radius: var(--base-border-radius);
}
@media screen and (min-width: 768px) {
  .block-content--sticky {
    position: sticky;
    top: 0;
    max-height: 100dvh;
  }
}
.block-content--gradient {
  background: radial-gradient(52.61% 52.61% at 50% 100%, rgb(45, 40, 54) 0%, rgba(45, 40, 54, 0) 100%), #111214;
}
.block-content--gradient--light {
  background: radial-gradient(52.61% 52.61% at 50% 100%, rgb(45, 40, 54) 0%, rgba(45, 40, 54, 0) 100%), #17171b;
}
@media screen and (max-width: 767px) {
  .block-content {
    padding: 1.875rem 0.75rem 1.875rem 1.25rem;
  }
  .block-content--bg--desktop {
    background: transparent;
  }
}
.block-content__main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .block-content__main {
    gap: 1.875rem;
  }
}
.block-content__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0 0 0 4.375rem;
}
@media screen and (max-width: 767px) {
  .block-content__wrapper {
    padding: 0;
  }
}
.block-content__text {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  padding: 3.75rem 6.875rem 3.75rem 0;
  overflow: auto;
  height: 100%;
}
.block-content__text::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
  background-color: var(--color-accent);
  border-radius: 6px;
}
.block-content__text::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 6px;
}
.block-content__text::-webkit-scrollbar-track {
  background-color: #252628;
  border-radius: 6px;
}
@media screen and (max-width: 767px) {
  .block-content__text {
    padding: 0 1.5rem 0 0;
  }
}
.block-content__box {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  height: 100%;
}
.block-content__footer {
  margin-top: auto;
}

.single-slider {
  overflow: visible;
  position: relative;
}
.single-slider__nav {
  position: absolute;
  z-index: 3;
  right: calc(17% + 1.875rem);
  top: 1.875rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (max-width: 767px) {
  .single-slider__nav {
    right: 0.625rem;
    top: 0.625rem;
  }
}
.single-slider__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 0.5rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
}
@media screen and (max-width: 767px) {
  .single-slider__button {
    width: 3.375rem;
    height: 3.375rem;
  }
}
.single-slider__button .icon {
  width: 0.875rem;
  height: 0.875rem;
}
.single-slider__button--prev {
  transform: scaleX(-1);
}
.single-slider__item {
  max-width: 83%;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .single-slider__item {
    max-width: 100%;
  }
}
.single-slider__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 3, 5, 0.6);
  z-index: 3;
  transition: 0.3s opacity;
}
.single-slider__item.swiper-slide-active::before {
  opacity: 0;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .social-list {
    gap: 0.625rem;
  }
}
.social-list__item {
  flex-shrink: 0;
}
.social-link {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 767px) {
  .social-link {
    width: 1.75rem;
    height: 1.75rem;
  }
}
.social-link__icon {
  width: 100%;
  height: 100%;
}

.footer {
  border-radius: var(--base-border-radius) var(--base-border-radius) 0 0;
}

.menu {
  background-color: #AF3C0A;
}
.menu__wrapper {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
}
@media screen and (max-width: 767px) {
  .menu__wrapper {
    gap: 3.125rem;
  }
}
.menu__wrapper--footer {
  padding-top: 5.625rem;
}
@media screen and (max-width: 767px) {
  .menu__wrapper--footer {
    padding-top: 1.875rem;
  }
}
.menu-content--mobile {
  margin-top: auto;
  padding-top: 4.5rem;
}
@media screen and (max-width: 767px) {
  .menu-content--mobile {
    padding-top: 3rem;
  }
}
.menu-content__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 3.75rem 4.375rem;
  padding-right: 1.875rem;
  overflow: auto;
  height: 25rem;
}
.menu-content__grid::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
  background-color: var(--color-accent);
  border-radius: 6px;
}
.menu-content__grid::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 6px;
}
.menu-content__grid::-webkit-scrollbar-track {
  background-color: #9b2800;
  border-radius: 6px;
}
@media screen and (max-width: 767px) {
  .menu-content__grid {
    height: 33.125rem;
    grid-template-columns: minmax(0, 1fr);
    gap: 1.875rem;
  }
}
.menu-content__block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu-content__wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
@media screen and (max-width: 767px) {
  .menu-content__wrapper {
    grid-template-columns: minmax(0, 1fr);
    gap: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .menu-content__list {
    padding-left: 8.25rem;
  }
}
.menu-footer {
  padding: 5.625rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: auto;
}
@media screen and (max-width: 767px) {
  .menu-footer {
    padding: 1.875rem 0 3.125rem 0;
  }
}
.menu-footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .menu-footer__row {
    align-items: flex-start;
  }
}
.menu-footer__logos {
  display: flex;
  align-items: center;
  gap: 3.125rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .menu-footer__logos {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
  }
}
.menu-footer__img {
  height: 2rem;
  object-fit: contain;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  width: 4.5rem;
  height: 4.5rem;
  position: relative;
}
.nav-button::before {
  content: "";
  width: calc(100% - 0.75rem);
  height: 2px;
  border-radius: 4px;
  background: var(--color-accent);
  display: block;
  bottom: 0;
  left: 0.375rem;
  position: absolute;
  opacity: 0;
}
.nav-button.active::before {
  opacity: 1;
}
.nav-button--header {
  transition: 0.3s opacity;
}
@media screen and (max-width: 767px) {
  .nav-button--header {
    width: 2.875rem;
    height: 2.875rem;
  }
}
.nav-button--clear {
  backdrop-filter: unset;
  background: transparent;
}
.nav-button__icon {
  width: 1.625rem;
  height: 1.625rem;
}
@media screen and (max-width: 767px) {
  .nav-button--header .nav-button__icon {
    width: 1.375rem;
    height: 1.375rem;
  }
}
.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  flex-grow: 1;
}
.nav-buttons--header {
  margin-left: auto;
  flex-grow: unset;
}
@media screen and (max-width: 767px) {
  .nav-buttons--header {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav-buttons--header .nav-buttons__item:first-child {
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-buttons__item:first-child {
    margin-right: auto;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 3.75rem;
}
@media screen and (max-width: 767px) {
  .nav-list {
    flex-direction: column;
    gap: 1rem;
    order: 3;
  }
}
.nav-list__item {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-list--column {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}
.nav-list--column .nav-list__link {
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .nav-list--mobile {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .nav-list--desktop {
    display: none;
  }
}
.nav-list__link {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-list__link::before {
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background: var(--color-accent);
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: 0;
}
.nav-list__link.active::before {
  opacity: 1;
}
.nav-main {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav-main {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 0 2.25rem;
    border-radius: 0.5rem 0 0 0.5rem;
  }
}
.nav-main--header {
  border-radius: 0.5rem;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 0 1rem;
}
@media screen and (max-width: 767px) {
  .nav-main--header {
    padding: 0 0.625rem;
    width: 100%;
  }
}
.nav-main__wrapper {
  display: flex;
  align-items: stretch;
  gap: 3.125rem;
}
@media screen and (max-width: 767px) {
  .nav-main__wrapper--header {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
}
.nav__row {
  display: flex;
  align-items: stretch;
}
@media screen and (max-width: 767px) {
  .nav__row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.875rem;
  }
}
.nav__logo {
  height: 2rem;
  width: 11rem;
  align-self: center;
}
@media screen and (max-width: 767px) {
  .nav__logo--header {
    width: 9.375rem;
    height: 1.75rem;
  }
}

.hero {
  border-radius: 0 0 var(--base-border-radius) var(--base-border-radius);
  overflow: hidden;
  position: relative;
  min-height: 100svh;
}
.hero-main {
  position: relative;
  z-index: 4;
}
.hero-main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  min-height: 100svh;
  padding: 12.5rem 0 3.375rem 0;
}
@media screen and (max-width: 767px) {
  .hero-main__wrapper {
    justify-content: flex-end;
    gap: 1.5rem;
    padding: 1.5rem 0;
  }
}
@media screen and (min-width: 768px) {
  .hero-nav {
    margin-top: auto;
  }
}
.hero-nav__title {
  font-size: 1.5rem;
  transition: 0.3s font-size;
}
.hero-nav__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
  transition: 0.3s opacity;
}
.hero-nav__button:hover {
  opacity: 1;
}
.hero-nav__button--next {
  margin-left: auto;
}
.hero-nav__scrollbar {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}
.hero-nav__scrollbar .swiper-scrollbar-drag {
  background-color: var(--color-accent);
}
.hero-nav__text {
  max-width: 21.875rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .hero-nav__text {
    max-width: 100%;
  }
}
.hero-nav__slider {
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.hero-nav__slider .swiper-wrapper {
  align-items: stretch;
}
@media screen and (max-width: 767px) {
  .hero-nav__slider {
    gap: 1.5rem;
  }
}
.hero-nav__item {
  opacity: 0.6;
  max-width: 25rem;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s opacity;
}
.hero-nav__item--card {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.03);
  border-radius: 0.5rem;
  gap: 0.75rem;
  padding: 1.875rem 1.875rem 1.5rem 1.875rem;
}
@media screen and (max-width: 767px) {
  .hero-nav__item--card {
    padding: 0.625rem 0.625rem 0.75rem 0.625rem;
    gap: 0.25rem;
  }
}
@media screen and (max-width: 767px) {
  .hero-nav__item {
    max-width: 80%;
  }
}
.hero-nav__item:hover {
  cursor: pointer;
}
.hero-nav__item.swiper-slide-thumb-active {
  opacity: 1;
}
.hero-nav__item--card .hero-nav__title {
  font-weight: 600;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .hero-nav__item.swiper-slide-thumb-active .hero-nav__title {
    font-size: 4rem;
  }
}
.hero-nav__item--card.swiper-slide-thumb-active .hero-nav__title {
  font-size: 2rem;
}
@media screen and (max-width: 767px) {
  .hero-nav__item--card.swiper-slide-thumb-active .hero-nav__title {
    font-size: 1.5rem;
  }
}
.hero-nav__item--card.swiper-slide-thumb-active {
  border-bottom: 2px solid var(--color-accent);
  background: rgba(255, 255, 255, 0.1);
}
.hero-content {
  position: relative;
  z-index: 4;
  padding: 3.75rem 3.75rem 5.625rem 3.75rem;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: var(--base-border-radius);
  max-width: 33.125rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}
@media screen and (max-width: 767px) {
  .hero-content {
    padding: 1.25rem;
  }
}
.hero-slider {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.hero-slider::before, .hero-slider::after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 8.125rem;
  left: 0;
  z-index: 2;
}
.hero-slider::before {
  top: 0;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}
.hero-slider::after {
  bottom: 0;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}
.hero-item {
  min-height: 100svh;
}
.hero-item__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-item__img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.hero-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.contact-list--row {
  flex-direction: row;
  flex-wrap: wrap;
}
.contact-link {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.contact-link--big .contact-link__icon {
  width: 3.75rem;
  height: 3.75rem;
}
.contact-link--big .contact-link__icon .icon {
  width: 1.625rem;
  height: 1.625rem;
}
.contact-link__icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  flex-shrink: 0;
  color: #fff;
}
.contact-link__icon .icon {
  width: 1.25rem;
  height: 1.25rem;
}

.fieldset {
  border: 1px solid #4e4e51;
  border-radius: 0.375rem;
  position: relative;
}
.fieldset-box > .fieldset:last-child {
  border-radius: 0 0 0.375rem 0.375rem;
}
.fieldset-box > .fieldset:first-child {
  border-radius: 0.375rem 0.375rem 0 0;
}
.fieldset-box .fieldset {
  border-radius: 0;
}
.fieldset-box .fieldset:not(:last-child) {
  border-bottom: transparent;
}
.fieldset-box__row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.fieldset-box__row:last-child .fieldset {
  border-bottom: 1px solid #4e4e51;
}
.fieldset-box__row:last-child .fieldset:first-child {
  border-radius: 0 0 0 0.375rem;
}
.fieldset-box__row:last-child .fieldset:last-child {
  border-bottom: 1px solid #4e4e51;
  border-radius: 0 0 0.375rem 0;
}
.fieldset-box__row .fieldset:last-child {
  border-bottom: transparent;
  border-left: transparent;
}
.fieldset-clear {
  color: #4b4b4e;
  font-size: 1rem;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .fieldset-clear::before {
    content: attr(data-text);
  }
}
@media screen and (max-width: 767px) {
  .fieldset-clear {
    width: 0.625rem;
    height: 0.625rem;
    position: relative;
  }
  .fieldset-clear::before, .fieldset-clear::after {
    content: "";
    position: absolute;
    left: 0;
    top: calc(50% - 0.5px);
    width: 100%;
    height: 1px;
    background: #69696C;
  }
  .fieldset-clear::before {
    transform: rotate(45deg);
  }
  .fieldset-clear::after {
    transform: rotate(-45deg);
  }
}
.fieldset--sort {
  max-width: 13.125rem;
  background: #1a1b1d;
  border: transparent;
}
.fieldset__legend {
  color: #a7a6a9;
  font-size: 0.875rem;
  padding: 0.375rem;
  line-height: 1px;
  height: 0;
  margin: 0 1.875rem;
}
.fieldset .input + .input {
  border-top: 1px solid #4e4e51;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.5rem;
  gap: 0.75rem;
  padding: 0 1.875rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  .input {
    padding: 0 1.25rem;
  }
}
.input select {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 1.875rem;
}
@media screen and (max-width: 767px) {
  .input select {
    padding: 0 1.25rem;
  }
}
.input select option {
  background: var(--color-dark);
  color: #fff;
  width: 100%;
}
.input-cards {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex-shrink: 0;
}
.input-cards__img {
  width: 2.5rem;
  border-radius: 2px;
  height: 1.5rem;
  object-fit: cover;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .input-cards__img:nth-child(3), .input-cards__img:nth-child(4) {
    display: none;
  }
}
.input-row--column .input-row__item {
  width: 100%;
}
.input-row--column .fieldset--sort {
  max-width: 100%;
}
.input-row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media screen and (max-width: 767px) {
  .input-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .input-row--mobile--default {
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
  }
}
.input-row--column {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}
.input-row__item {
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .input-row__item {
    width: 100%;
  }
}
.input-row__title {
  color: #9a9a9b;
}
.input--small {
  padding: 0 1rem;
  height: 2.5rem;
}
.input:has(select:active) .icon--arrow {
  transform: rotate(180deg);
}
.input .icon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  color: #7D7D7D;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
  margin-left: auto;
  transition: 0.3s transform;
}
.input .icon--arrow {
  width: 0.5rem;
  height: 0.5rem;
}
.input--textarea {
  height: 8.75rem;
}
.input--textarea .input__item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.input__item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}
.input__item option {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.input__item::placeholder {
  color: #69696c;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.form__text {
  font-size: 0.875rem;
  color: #A7A6A9;
}
.form__text--semibold {
  font-weight: 600;
}
.form__text--center {
  text-align: center;
}
.form-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-footer__wrapper {
  display: flex;
  align-items: stretch;
  gap: 1.5rem;
}
.form-footer__block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-footer__row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.form-footer__divider {
  display: block;
  flex-shrink: 0;
  width: 2px;
  height: auto;
  background: #A7A6A9;
}
.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  flex-grow: 1;
}
.form__wrapper--small {
  max-width: 33.125rem;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .form__header--desktop {
    display: none;
  }
}
.form__header--row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
}
.form__content {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}
.form__content--gap--small {
  gap: 2.5rem;
}
.form__content--center {
  margin: auto 0;
}
@media screen and (max-width: 767px) {
  .form__content {
    gap: 1.25rem;
  }
}
.form__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.625rem;
}
.form__grid--column {
  grid-template-columns: minmax(0, 1fr);
}
@media screen and (max-width: 767px) {
  .form__grid {
    grid-template-columns: minmax(0, 1fr);
  }
}
.form-block__grid {
  display: grid;
  grid-template-columns: 15.625rem minmax(0, 33.125rem);
  gap: 4rem;
}
@media screen and (max-width: 767px) {
  .form-block__grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 1rem;
  }
}
.form-block__title {
  font-weight: 600;
  font-size: 1.5rem;
}
@media screen and (max-width: 767px) {
  .form-block__title {
    font-size: 1.25rem;
  }
}
.form-block__data {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  height: max-content;
}
.form-block__data--start {
  align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .form-block__data {
    display: none;
  }
}
.form-block__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
@media screen and (max-width: 767px) {
  .form-block__wrapper {
    gap: 1.25rem;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 14;
}
.header--sticky {
  position: sticky;
}
.header:has(.header__tag) .nav-main--header {
  border-bottom-left-radius: 0;
}
@media screen and (min-width: 768px) {
  .header:has(.header__tag--mobile) .nav-main--header {
    border-bottom-left-radius: 0.5rem;
  }
}
.header__wrapper {
  padding: 1.25rem;
}
@media screen and (max-width: 767px) {
  .header__wrapper {
    padding: 1rem;
  }
}
.header__tag {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  width: max-content;
  max-width: 100%;
  height: 4.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.875rem;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  border-radius: 0 0 0.5rem 0.5rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__tag--mobile {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header__tag {
    height: 2.875rem;
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem;
  }
}
.header__tag::before {
  content: "";
  position: absolute;
  width: calc(100% - 1rem);
  height: 2px;
  border-radius: 10px;
  background: var(--color-accent);
  bottom: 0;
  left: 0.5rem;
}
@media screen and (max-width: 767px) {
  .header.active .burger {
    order: 3;
  }
  .header.active .nav-button--header {
    opacity: 0;
    pointer-events: none;
  }
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  width: 4.5rem;
}
@media screen and (max-width: 767px) {
  .burger {
    width: 2.875rem;
    height: 2.875rem;
  }
}
.burger.active .burger__wrapper::before {
  transform: rotate(45deg);
  top: calc(50% - 0.5px);
}
.burger.active .burger__wrapper::after {
  transform: rotate(-45deg);
  top: calc(50% - 0.5px);
}
.burger__wrapper {
  width: 1.875rem;
  height: 0.5rem;
  position: relative;
  display: block;
}
.burger__wrapper::before, .burger__wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: block;
  transition: 0.3s transform, 0.3s top;
}
.burger__wrapper:after {
  top: calc(100% + 1px);
}
.shopping__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
@media screen and (max-width: 767px) {
  .shopping__wrapper {
    gap: 2.5rem;
  }
}
.shopping-filter {
  position: relative;
  z-index: 9;
  scroll-margin-top: var(--container-padding);
}
.shopping-filter.active .shopping-filter__header .icon--filter {
  opacity: 0;
}
.shopping-filter.active .shopping-filter__header .icon--arrow {
  display: block;
}
.shopping-filter.active .shopping-filter__wrapper {
  opacity: 1;
  visibility: visible;
}
.shopping-filter__mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.75rem;
}
@media screen and (min-width: 768px) {
  .shopping-filter__mobile {
    display: none;
  }
}
.shopping-filter__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #1A1B1D;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.75rem 1.125rem;
}
.shopping-filter__header:hover {
  cursor: pointer;
}
.shopping-filter__header .icon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  color: #9A9A9B;
  transition: 0.3s opacity;
}
.shopping-filter__header .icon--arrow {
  display: none;
}
.shopping-filter__checkbox {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .shopping-filter__checkbox {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 767px) {
  .shopping-filter__sort {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .shopping-filter__button {
    display: none;
  }
}
.shopping-filter__main {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  height: 100%;
  overflow: auto;
  padding-right: 1rem;
}
.shopping-filter__main::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
  background-color: var(--color-accent);
  border-radius: 6px;
}
.shopping-filter__main::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 6px;
}
.shopping-filter__main::-webkit-scrollbar-track {
  background-color: #373A3F;
  border-radius: 6px;
}
@media screen and (max-width: 767px) {
  .shopping-filter__wrapper {
    position: absolute;
    top: calc(var(--filter-header) + 2px);
    left: 0;
    z-index: 9;
    padding: 1.25rem;
    background-color: #111214;
    border-radius: 0.5rem;
    width: 100%;
    height: calc(100dvh - var(--filter-header) - 2 * var(--container-padding));
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s visibility, 0.5s opacity;
  }
}
.shopping-filter__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}
@media screen and (max-width: 767px) {
  .shopping-filter__row {
    flex-direction: column;
    align-items: flex-start;
  }
}
.shopping-filter__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.875rem;
}
@media screen and (max-width: 767px) {
  .shopping-filter__grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 1.25rem;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  position: relative;
  --checkmark-size: 2.5rem;
}
.checkbox:hover {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .checkbox {
    gap: 1.25rem;
    --checkmark-size: 2rem;
  }
}
.checkbox--small {
  --checkmark-size: 1.5rem;
  gap: 0.75rem;
}
.checkbox:has(:checked) .checkbox__checkmark {
  color: var(--color-accent);
}
.checkbox__text--small {
  font-size: 0.875rem;
  color: #A7A6A9;
}
.checkbox__input {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  pointer-events: none;
  width: var(--checkmark-size);
  height: var(--checkmark-size);
}
.checkbox__checkmark {
  width: var(--checkmark-size);
  height: var(--checkmark-size);
  flex-shrink: 0;
  background: #1a1b1d;
  border-radius: 0.375rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  transition: 0.3s color;
}
.checkbox__checkmark .icon {
  width: 1rem;
  height: 1rem;
}

.product-list {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: 12.5rem;
  gap: 0.625rem;
}
.product-list--small {
  grid-auto-rows: 9.625rem;
}
@media screen and (max-width: 767px) {
  .product-list {
    grid-auto-rows: auto;
  }
}
.product-card__column {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}
.product-card__checkbox {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .product-card__checkbox {
    position: absolute;
    left: 0.625rem;
    top: 0.625rem;
  }
}
.product-card__quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .product-card__quantity {
    flex-direction: row;
    align-items: flex-end;
  }
}
.product-card__wrapper {
  border-radius: var(--base-border-radius);
  padding: 0.625rem;
  background-color: #242527;
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 10fr);
  height: 100%;
  overflow: hidden;
  position: relative;
}
.product-card__wrapper--builder {
  grid-template-columns: 6.875rem minmax(0, 2fr) minmax(0, 10fr);
}
@media screen and (max-width: 767px) {
  .product-card__wrapper {
    grid-template-columns: minmax(0, 1fr);
    gap: 1.25rem;
  }
  .product-card__wrapper--builder {
    padding-left: 3.75rem;
  }
}
.product-card__controls {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .product-card__controls {
    gap: 1rem;
  }
}
.product-card__icon {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #38393B;
  border-radius: 0.375rem;
  color: #B4B5B5;
}
.product-card__icon--white {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .product-card__icon--delete {
    margin-left: auto;
  }
}
.product-card__icon .icon {
  width: 1.125rem;
  height: 1.125rem;
}
.product-card__row {
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr) minmax(0, 3fr) minmax(0, 2fr);
  padding: 0.625rem 0;
  height: 100%;
  overflow: hidden;
}
.product-card__row--small {
  grid-template-columns: minmax(0, 2.5fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr);
}
.product-card__row--builder {
  overflow: auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  height: 100%;
}
.product-card__row--builder::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
  background-color: var(--color-accent);
  border-radius: 6px;
}
.product-card__row--builder::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 6px;
}
.product-card__row--builder::-webkit-scrollbar-track {
  background-color: #373A3F;
  border-radius: 6px;
}
.product-card__row--builder .product-card__block {
  overflow: visible;
}
@media screen and (max-width: 767px) {
  .product-card__row {
    grid-template-columns: minmax(0, 1fr);
    padding: 0.625rem;
  }
}
@media screen and (min-width: 768px) {
  .product-card__row--small .product-card__block {
    padding: 0 1.25rem;
  }
}
.product-card__block {
  padding: 1.25rem 2.5rem;
  overflow: hidden;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .product-card__block--big {
    grid-column-end: span 2;
  }
}
@media screen and (max-width: 767px) {
  .product-card__block {
    padding: 1rem 0.625rem;
  }
  .product-card__block:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }
}
@media screen and (min-width: 768px) {
  .product-card__block:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.08);
  }
}
@media screen and (max-width: 767px) {
  .product-card__block--mobile--clear:not(:last-child) {
    border: none;
  }
}
.product-card__content {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.product-card__content::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
  background-color: var(--color-accent);
  border-radius: 6px;
}
.product-card__content::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 6px;
}
.product-card__content::-webkit-scrollbar-track {
  background-color: #373A3F;
  border-radius: 6px;
}
@media screen and (max-width: 767px) {
  .product-card__content {
    max-height: 6.25rem;
  }
  .product-card__content--mobile--full {
    max-height: 100%;
  }
}
.product-card__img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  background-color: #fff;
  padding: 1.875rem 1.25rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  .product-card__img {
    height: 11.25rem;
    border-radius: 0.5rem;
    padding: 2.25rem 1rem 1.625rem 1rem;
  }
}
.product-card__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (min-width: 768px) {
  .product-card__img img {
    position: absolute;
    height: calc(100% - 1.875rem);
    width: calc(100% - 1.25rem);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.cart__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.cart__main {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
@media screen and (max-width: 767px) {
  .cart__main {
    gap: 1.25rem;
  }
}
.cart-checkout__wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #161719;
}
@media screen and (max-width: 767px) {
  .cart-checkout__wrapper {
    border-radius: 0.625rem;
  }
}
.cart-checkout__header, .cart-checkout__footer {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .cart-checkout__header, .cart-checkout__footer {
    padding-right: 5.625rem;
  }
}
@media screen and (max-width: 767px) {
  .cart-checkout__header, .cart-checkout__footer {
    justify-content: center;
  }
}
.cart-checkout__row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cart-checkout__text {
  color: #C8C9C9;
}
@media screen and (min-width: 768px) {
  .cart-checkout__text {
    min-width: 6.4rem;
    text-align: right;
  }
}
.cart-checkout__price {
  font-weight: 600;
  font-size: 1.75rem;
}
@media screen and (min-width: 768px) {
  .cart-checkout__footer {
    border-top: 1px solid #202123;
  }
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 8.25rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .quantity {
    max-width: 7rem;
  }
}
.quantity__value {
  flex-grow: 1;
  text-align: center;
}

.profile__grid {
  display: grid;
  grid-template-columns: minmax(0, 4fr) minmax(0, 8fr);
  gap: 1.875rem;
  min-height: 44.375rem;
}
@media screen and (max-width: 767px) {
  .profile__grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 1.25rem;
    min-height: auto;
  }
}
.profile-chart {
  height: 29.375rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 1.875rem 2.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .profile-chart {
    padding: 2.875rem 1.875rem;
  }
}
.profile-chart__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.profile-chart__wrapper::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
  background-color: var(--color-accent);
  border-radius: 6px;
}
.profile-chart__wrapper::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 6px;
}
.profile-chart__wrapper::-webkit-scrollbar-track {
  background-color: #252628;
  border-radius: 6px;
}
@media screen and (max-width: 767px) {
  .profile-chart__wrapper {
    padding-bottom: 1.875rem;
  }
}
.profile-chart__scroll {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .profile-chart__scroll {
    min-width: 48.75rem;
  }
}
@media screen and (max-width: 767px) {
  .profile-chart {
    padding: 1.875rem;
  }
}
.profile-chart canvas {
  width: 100%;
  height: 100%;
}
.profile-card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.profile-card__icon {
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.profile-card__icon .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.profile-notification {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.profile-notification__icon {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.5);
}
.profile-notification__count {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  right: -0.7rem;
  top: -0.7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 700;
}
.profile-link {
  display: flex;
  align-items: center;
  gap: 1.625rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  height: 3.375rem;
  background-color: rgba(255, 255, 255, 0.05);
  position: relative;
}
.profile-link.active::before {
  content: "";
  width: calc(100% - 12px);
  height: 2px;
  background-color: var(--color-accent);
  position: absolute;
  bottom: -2px;
  left: 6px;
}
.profile-link__icon {
  color: rgba(255, 255, 255, 0.5);
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}
.profile-back {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 2.5rem;
  position: relative;
  background: radial-gradient(52.61% 52.61% at 50% 100%, rgb(45, 40, 54) 0%, rgba(45, 40, 54, 0) 100%), #111214;
  height: 4rem;
  border-radius: var(--small-border-radius);
}
.profile-back::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-accent);
  border-radius: 4px;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.profile-back__icon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  top: calc(50% - 0.5rem);
  left: 1rem;
  position: absolute;
  color: #7D7D80;
}
@media screen and (min-width: 768px) {
  .profile-back {
    display: none;
  }
}
.profile-aside {
  background: radial-gradient(52.61% 52.61% at 50% 100%, rgb(45, 40, 54) 0%, rgba(45, 40, 54, 0) 100%), #111214;
  border-radius: var(--small-border-radius);
}
@media screen and (min-width: 768px) {
  .profile-aside {
    position: sticky;
    top: 0;
    max-height: 100dvh;
  }
}
@media screen and (max-width: 767px) {
  .profile-aside--desktop {
    display: none;
  }
}
.profile-aside__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2.5rem;
}
@media screen and (max-width: 767px) {
  .profile-aside__wrapper {
    padding: 1.25rem;
  }
}
.profile-aside__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.profile-aside__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .profile-aside__list {
    gap: 0.625rem;
  }
}
.profile-aside__list-exit {
  margin-top: auto;
}
.profile-content {
  background: radial-gradient(52.61% 52.61% at 50% 100%, rgb(45, 40, 54) 0%, rgba(45, 40, 54, 0) 100%), #111214;
  border-radius: var(--small-border-radius);
}
@media screen and (min-width: 768px) {
  .profile-content--mobile {
    display: none;
  }
}
.profile-content__wrapper {
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
@media screen and (max-width: 767px) {
  .profile-content__wrapper {
    gap: 1.25rem;
    padding: 1.25rem;
  }
}
.profile-content__grid {
  display: grid;
  grid-template-columns: 13.75rem minmax(0, 1fr);
  gap: 1.875rem;
}
@media screen and (max-width: 767px) {
  .profile-content__grid {
    grid-template-columns: minmax(0, 1fr);
  }
}
.profile-content__filter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 1.25rem;
}
.profile-content__filter--column {
  grid-template-columns: minmax(0, 1fr);
}
@media screen and (max-width: 767px) {
  .profile-content__filter {
    grid-template-columns: minmax(0, 1fr);
    gap: 0.625rem;
  }
}
.profile-content__main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.profile-content__main--small {
  gap: 1.875rem;
}
@media screen and (max-width: 767px) {
  .profile-content__main--small {
    gap: 1.25rem;
  }
}
.profile-content__notice {
  text-align: center;
  font-size: 1.125rem;
  color: #9B9B9B;
}
@media screen and (max-width: 767px) {
  .profile-content__notice {
    font-size: 1rem;
  }
}
.profile-table {
  background-color: #151617;
  border-radius: 1rem;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  overflow: hidden;
}
.profile-table__scroll {
  overflow: auto;
}
.profile-table__scroll::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
  background-color: var(--color-accent);
  border-radius: 6px;
}
.profile-table__scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 6px;
}
.profile-table__scroll::-webkit-scrollbar-track {
  background-color: #373A3F;
  border-radius: 6px;
}
.profile-table__main {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.profile-table__main-title {
  padding-left: 1.25rem;
  color: #616063;
}
.profile-table__wrapper {
  min-width: 62.5rem;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.profile-table__row {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr)) 4.375rem;
  background-color: rgba(36, 37, 39, 0.75);
  border-radius: 0.375rem;
}
.profile-table__row--auto {
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
.profile-table__row--title {
  background-color: transparent;
}
.profile-table__row--title .profile-table__block {
  background-color: transparent;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
}
.profile-table__icon {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #A7A6A9;
  flex-shrink: 0;
}
.profile-table__icon .icon {
  width: 100%;
  height: 100%;
}
.profile-table__title {
  font-size: 1rem;
  font-weight: 600;
  color: #A7A6A9;
}
.profile-table__text {
  font-size: 1rem;
}
.profile-table__text--bold {
  font-weight: 600;
}
.profile-table__block {
  padding: 1rem 1.25rem;
}

@media screen and (max-width: 767px) {
  .login {
    background: radial-gradient(52.61% 52.61% at 50% 100%, rgb(45, 40, 54) 0%, rgba(45, 40, 54, 0) 100%), #111214;
  }
}
.login-block .block-content {
  height: 100%;
}
@media screen and (min-width: 768px) {
  .login-block--nav {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .login-block {
    display: none;
  }
  .login-block.active {
    display: block;
  }
}
.login__title {
  position: relative;
  opacity: 0.25;
  transition: 0.3s opacity;
  padding-bottom: 8px;
}
.login__title::before {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--color-accent);
  bottom: 2px;
  border-radius: 4px;
  left: 0;
  width: 0;
  transition: 0.3s width;
}
.login__title.active {
  opacity: 1;
}
.login__title.active::before {
  width: 100%;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100vw;
  height: 100dvh;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s visibility, 0.5s opacity;
}
.mobile-menu::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
  background-color: var(--color-accent);
  border-radius: 6px;
}
.mobile-menu::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 6px;
}
.mobile-menu::-webkit-scrollbar-track {
  background-color: #373A3F;
  border-radius: 6px;
}
.mobile-menu.active {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 767px) {
  .checkout--desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .checkout--mobile {
    display: none;
  }
}
.checkout-header__main {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.checkout-header__sub {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.checkout-block:not(:last-child) {
  border-bottom: 1px solid #242425;
}
.checkout-block__content {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.checkout-block__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.875rem 0;
}
.checkout__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.checkout__price {
  font-size: 1.5rem;
  font-weight: 600;
}
.checkout__price--big {
  font-size: 2rem;
}
@media screen and (max-width: 767px) {
  .checkout__price--big {
    font-size: 1.625rem;
  }
}
.checkout__text {
  font-size: 1.25rem;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .checkout__text {
    text-align: center;
  }
}
.checkout__text--regular {
  font-weight: 400;
}
.checkout__text--small {
  font-size: 1rem;
}
.checkout__text--grey {
  color: #9b9b9b;
}
.checkout__text--grey--light {
  color: #a7a6a9;
  opacity: 0.75;
}
.checkout__text--grey--dark {
  color: #737373;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s visibility, 0.5s opacity;
}
.popup--active {
  opacity: 1;
  visibility: visible;
}
.popup__close {
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 4;
}
.popup__close:hover {
  cursor: pointer;
}
.popup__close:hover::before, .popup__close:hover::after {
  background: #fff;
}
.popup__close::before {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background: #fff;
  position: absolute;
  left: 0;
  top: calc(50% - 0.5px);
  transition: 0.3s background-color;
  transform: rotate(45deg);
}
.popup__close::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background: #fff;
  position: absolute;
  left: 0;
  top: calc(50% - 0.5px);
  transition: 0.3s background-color;
  transform: rotate(-45deg);
}
.popup__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
}
.popup__wrapper::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
  background-color: var(--color-accent);
  border-radius: 6px;
}
.popup__wrapper::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 6px;
}
.popup__wrapper::-webkit-scrollbar-track {
  background-color: #252628;
  border-radius: 6px;
}
.popup__container {
  max-width: 33.125rem;
  width: calc(100% - 60px);
  max-height: 90%;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notification-popup {
  padding: 2.5rem;
  backdrop-filter: blur(50px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: var(--base-border-radius);
}
@media screen and (max-width: 767px) {
  .notification-popup {
    padding: 1.25rem;
  }
}
.notification-popup__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media screen and (max-width: 767px) {
  .notification-popup__wrapper {
    gap: 1.875rem;
  }
}
.notification-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.notification-item {
  padding: 1.25rem;
  background: #4e4e4e;
  border-radius: 1rem;
  font-size: 1.125rem;
}
@media screen and (max-width: 767px) {
  .notification-item {
    padding: 0.5rem 1.25rem;
  }
}

.builder__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
@media screen and (max-width: 767px) {
  .builder__wrapper {
    gap: 1rem;
    background: #111214;
    border-radius: var(--base-border-radius);
  }
}
.builder-canvas {
  height: 37.5rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .builder-canvas {
    height: 11.25rem;
  }
}
.builder-color {
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;
  transition: 0.3s border-color;
}
.builder-color:hover {
  cursor: pointer;
}
.builder-color:has(:checked) {
  border-color: var(--color-accent);
}
.builder-color::before {
  content: "";
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 1px;
  top: 1px;
  position: absolute;
  display: block;
  background: var(--builder-color);
  border-radius: 50%;
}
.builder-color__item {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  left: 0;
  top: 0;
  width: 1.875rem;
  height: 1.875rem;
}
.builder-colors__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem;
}
.builder-colors__wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 767px) {
  .builder-colors__wrapper {
    flex-direction: column;
    gap: 0.625rem;
    align-items: flex-start;
  }
}
.builder-footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.builder-footer__row {
  display: flex;
  gap: 0.625rem;
}
.builder-footer__text {
  align-self: center;
}
.builder-main__wrapper {
  padding: 0 1.25rem;
}
@media screen and (min-width: 768px) {
  .builder-main__wrapper {
    background: #111214;
    padding: 3.125rem;
    border-radius: var(--base-border-radius);
  }
}
.builder-result__header {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
}
@media screen and (max-width: 767px) {
  .builder-result__header {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 767px) {
  .builder-result__button {
    width: 100%;
  }
}
.builder-result__wrapper {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  border-radius: 1rem;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.15);
  padding: 0.625rem 0.625rem 0.625rem 1.5rem;
}
@media screen and (max-width: 767px) {
  .builder-result__wrapper {
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.25rem;
    border-radius: 0.5rem;
  }
}
.builder-info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 50.625rem;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .builder-info__wrapper {
    gap: 1.25rem;
  }
}

.data-list__item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.data-item__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.625rem 0;
}
.data-item__icon {
  color: #7d7d80;
  width: 0.625rem;
  height: 0.625rem;
  transform: rotate(90deg);
}

.language-switcher {
  position: relative;
}
.language-switcher:hover {
  cursor: pointer;
}
.language-switcher--active .language-switcher__list {
  opacity: 1;
  visibility: visible;
}
.language-switcher__list {
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s visibility, 0.5s opacity;
}
.language-switcher__item.current {
  background: var(--color-accent);
}

/*# sourceMappingURL=index.css.map */
