:root {
  --main-font: "Myriad Pro", sans-serif;
  --fluid-spacer: 0.052vw;
  --base-size: calc(16 * var(--fluid-spacer));
  --container-size: 103.125rem;
  --container-padding: 1rem;
  --title-size-base: 2rem;
  --title-size-big: 4rem;
  --text-size-tiny: .875rem;
  --text-size-small: 1rem;
  --text-size-base: 1.125rem;
  --text-size-middle: 1.375rem;
  --text-size-big: 1.5rem;
  --color-dark: #1C2125;
  --color-white: #fff;
  --color-grey: #42474B;
  --color-accent: #F58220;
  --color-green: #2BCF35;
  --color-light: #F3F3F3;
  --header-height: 0rem;
  --base-border-radius: 1.625rem;
  --small-border-radius: 1.25rem;
  --scrollbar-size: 6px;
}

@media screen and (max-width: 767px) {
  :root {
    --fluid-spacer: 0.27vw;
    --scrollbar-size: 4px;
    --title-size-base: 1.875rem;
    --title-size-big: 2rem;
    --text-size-middle: 1.25rem;
    --base-border-radius: .625rem;
    --small-border-radius: .625rem;
  }
}